* text=auto
.gitattributes text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.php text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.md text eol=lf
*.env.example text eol=lf
*.conf.example text eol=lf
infrastructure/** text eol=lf
*.png binary
*.ico binary
*.woff2 binary
